*, *::before, *::after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

html {
     height: 100%; /* makes sure our HTML takes up 100% of the browser window */
     font-size: 100%;
 }

 html, body {
   height: 100%;
   width: 100;
 }

 .list {
    background-color: #EEEEEE;
    height: 100%;
    width: 25%;
    position: fixed;
    top: 0px;
    left: 0px;
    text-align: left;
    padding-left: 5px;
}

.room-title {
    position: absolute;
    top: 0%;
    left: 50%;
}

.selected-room {
    position: fixed;
    top: 0px;
    left: 25%;
    height: 100%;
    width: 75%;
    background-color: white;
    z-index: 1;
    overflow: scroll;
}


.data {
    top: 100px;
    padding-right: 10px;
}

.username {
    font-weight: bold;
}

.time {
    float: right;
    padding-right: 100px;
    color: grey;
}

.username .time {
    display: inline-block;
}

.message {
    color: grey;
    padding-bottom: 5px;
    display: inline-block;
}

.message-field {
    bottom: 0;
    left: 0px;
    width: 25%;
    padding-bottom: 5px;
    position: fixed;
    display: inline-block;
    overflow: scroll;
    text-align: center;
}
