<div class="list">
  <h1 class="header">Bloc Chat</h1>
  <a href="#" ng-click="home.addRoom()">Add Room</a>
  <div class="room-list" ng-repeat="room in home.allRooms">
    <div class="room-name">
      <a href="#" ng-click="home.setCurrentRoom(room)">{{room.roomName}}</a>
    </div>
  </div>
</div>
<div class="message-field" ng-show="home.hide">
    <input type="text" name="input" placeholder="Type your message here" class="message-box" ng-model="newMessage" style="width:500px;">
    <button class="btn-new-message" type="button" ng-click="home.sendMessage(newMessage)">Send message</button>
</div>
<div class="selected-room column fourth">
   <h1 class="room-title"> {{home.currentRoom.roomName}}</h1>
   <div class="data" ng-repeat='messages in home.roomMessages'>
    <h3 class="username">{{messages.userName}}</h3>
    <h3 class="message" ng-repeat="newMessage in home.roomMesssages">{{messages.message}}</h3>
    <h3 class="time" ng-repeat="newMessage in home.roomMesssages">{{messages.sentAt}}</h3>
 </div>
</div>
