<div class="modal" style="position: absolute;
            left: 40%;
            top: 10%;
            height: 150px;
            width: 300px;
            background-color: white;
            text-align: center;
            border: 3px solid black;
            border-radius: 10px;
            font-family: arial;
            z-index: 10;">
  <div class="modal-header">
    <h4>Set a username</h4>
  </div>
  <div class="modal-body">
    <form name="addUsername">
      <label for="username">Name</label>
      <input type="text" name="username" ng-model="username">
      <input type="submit" value="Add" class="btn btn-xs btn-primary" ng-click="modalSetUsername.setUsername(username)">
    </form>
  </div>
</div>
